In [1]:
#%matplotlib inline
import pandas as pd
import warnings
#import matplotlib as plt
warnings.filterwarnings('ignore')
df2 = pd.read_csv('data/movie_metadata.csv').drop_duplicates()

df2.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

## 1) What's the probability that a movie was longer than an hour and a half? Two hours?

In [2]:
prob90 = df2[df2.duration > 90].count()
prob1 = prob90['duration']/df2['duration'].count()
prob1

0.8101545253863135

In [3]:
prob120 = df2[df2.duration > 120].count()
prob2 = prob120['duration']/df2['duration'].count()
prob2

0.21312462372065022

## 2) What's the probability that a movie was directed by Steven Spielberg?

In [4]:
prob_ss = df2[df2.director_name == 'Steven Spielberg'].count()
prob3 = prob_ss['director_name']/df2['director_name'].count()
prob3

0.005311542390194076

## 3) What's the probability that a movie directed by Clint Eastwood will gross under budget?

In [5]:
df2.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [6]:
eastwood_under = df2.query('director_name == "Clint Eastwood" and gross < budget').director_name.count()
eastwood_total = df2.query('director_name == "Clint Eastwood"').director_name.count()
eastwood_under / eastwood_total * 100

35.0

## 4) What's the probability that a movie generally grossed more than its budget?

In [7]:
gross_more_budget = df2[df2['gross']> df2['budget']].count() / df2['gross'].count()
gross_more_budget['gross']

0.492725509214355

## 5) What's the probability that a movie grossed over the average gross of this data set?

In [8]:
avg_gross = df2['gross'].sum()/df2['gross'].count()
sum_gross = df2[df2['gross'] > avg_gross].count()
a = sum_gross/avg_gross
a['gross']

2.72319157692827e-05

## 6) For ratings we'll consider a movie with at least a 6/10 to be worth renting, if not seeing in theaters. A false positive would be a movie that was highly-rated but did poorly in the box office (gross < budget). A false negative would be a movie that was poorly-rated but did great in the box office (gross > budget).

In [19]:
total_films = df2.gross.count()
false_pos = df2.query('gross < budget and imdb_score >= 6')
false_pos.imdb_score.count() / total_films  * 100

29.43743937924345

## 7) In the IMDB dataset, what are the false positive and false negative rates? Can you provide some examples of each?

In [20]:
false_neg = df2.query('gross > budget and imdb_score <= 6')
false_neg.imdb_score.count() / total_films  * 100

12.221144519883609

## 8) If Iâ€™m a production studio exec and Tom Hanks is starring in my movie but Iâ€™m feeling uncertain about whether we should keep him (will he make as much money as we want?), tell me should I keep him in the movie or switch him out for Harrison Ford?

In [11]:
tom_hanks = df2.query('actor_1_name == "Tom Hanks" and gross > budget').gross.count()
harrison_ford = df2.query('actor_1_name == "Harrison Ford" and gross > budget').gross.count()
tom_hanks > harrison_ford

True

### It looks like a toss up.

## 9) Same as above, but Iâ€™m judging on the ratings of the movie instead of the gross/budget.

In [12]:
tom_hanks = df2.query('actor_1_name == "Tom Hanks" and imdb_score >= 6').gross.count()
harrison_ford = df2.query('actor_1_name == "Harrison Ford" and imdb_score >= 6').gross.count()
tom_hanks > harrison_ford

True

### KEEP Tom hanks

## 10) Whatâ€™s the probability that a movieâ€™s length will be between 1hr 10mins and 1h 30mins?

In [18]:
movie_time = df2.query('duration > 69 and duration < 90').duration.count()
movie_time / total_films  * 100

16.052376333656643

## 11) How does the distribution of movie budgets compare to the movie gross values?

In [15]:
gross_budget = df2.query('budget != "NaN" and gross != "NaN"')
gross_budget[['budget', 'gross']]

           budget        gross
0     237000000.0  760505847.0
1     300000000.0  309404152.0
2     245000000.0  200074175.0
3     250000000.0  448130642.0
5     263700000.0   73058679.0
6     258000000.0  336530303.0
7     260000000.0  200807262.0
8     250000000.0  458991599.0
9     250000000.0  301956980.0
10    250000000.0  330249062.0
11    209000000.0  200069408.0
12    200000000.0  168368427.0
13    225000000.0  423032628.0
14    215000000.0   89289910.0
15    225000000.0  291021565.0
16    225000000.0  141614023.0
17    220000000.0  623279547.0
18    250000000.0  241063875.0
19    225000000.0  179020854.0
20    250000000.0  255108370.0
21    230000000.0  262030663.0
22    200000000.0  105219735.0
23    225000000.0  258355354.0
24    180000000.0   70083519.0
25    207000000.0  218051260.0
26    200000000.0  658672302.0
27    250000000.0  407197282.0
28    209000000.0   65173160.0
29    150000000.0  652177271.0
30    200000000.0  304360277.0
...           ...          ...
4959     100000.0    5228617.0
4962      40000.0     110536.0
4964     200000.0      59379.0
4971   15000000.0   32721635.0
4973      60000.0    3216970.0
4975      60000.0     536767.0
4977      65000.0   11529368.0
4978      60000.0      40557.0
4979      70000.0      30084.0
4984      25000.0   10246600.0
4987      65000.0     389804.0
4997      42000.0     241816.0
4998      40000.0     277233.0
5004      30000.0     243768.0
5008     230000.0    3151130.0
5009      27000.0       8231.0
5011      25000.0    2856622.0
5012   35000000.0   10499968.0
5015      23000.0    1227508.0
5021      15000.0     192467.0
5023      15000.0      76382.0
5025      10000.0     180483.0
5026       4500.0     136007.0
5027      10000.0     673780.0
5029    1000000.0      94596.0
5033       7000.0     424760.0
5034       7000.0      70071.0
5035       7000.0    2040920.0
5037       9000.0       4584.0
5042       1100.0      85222.0

[3857 rows x 2 columns]

## 12) Which genre trends toward the highest gross-to-budget ratio? You may have to do some extra parsing to answer this question.

In [16]:
df2['ratio'] = df2['gross'] / df2['budget']
genres = pd.DataFrame(df2[['genres','ratio']]).query('ratio != "NaN"').groupby(df2.genres).mean()
genres

                                                         ratio
genres
Action                                                1.111865
Action|Adventure                                      3.517028
Action|Adventure|Animation|Comedy|Crime|Family|...    0.194242
Action|Adventure|Animation|Comedy|Drama|Family|...    0.839629
Action|Adventure|Animation|Comedy|Family              1.426455
Action|Adventure|Animation|Comedy|Family|Fantasy      2.276547
Action|Adventure|Animation|Comedy|Family|Fantas...    1.194135
Action|Adventure|Animation|Comedy|Family|Sci-Fi       1.324407
Action|Adventure|Animation|Comedy|Fantasy             0.023903
Action|Adventure|Animation|Comedy|Fantasy|Sci-Fi      7.358557
Action|Adventure|Animation|Drama|Mystery|Sci-Fi...    1.058111
Action|Adventure|Animation|Family                     2.841713
Action|Adventure|Animation|Family|Fantasy             0.695917
Action|Adventure|Animation|Family|Fantasy|Sci-Fi      0.700309
Action|Adventure|Animation|Family|Sci-Fi              1.114555
Action|Adventure|Animation|Family|Sci-Fi|Thriller     0.000193
Action|Adventure|Animation|Fantasy                    0.547746
Action|Adventure|Animation|Fantasy|Romance|Sci-Fi     0.234539
Action|Adventure|Biography|Drama|History|Romanc...    0.221250
Action|Adventure|Biography|Drama|History|Thriller     0.249856
Action|Adventure|Comedy                               1.356150
Action|Adventure|Comedy|Crime                         2.509989
Action|Adventure|Comedy|Crime|Family|Romance|Th...    1.818673
Action|Adventure|Comedy|Crime|Music|Mystery           0.535338
Action|Adventure|Comedy|Crime|Mystery|Thriller        0.718726
Action|Adventure|Comedy|Crime|Thriller                1.362017
Action|Adventure|Comedy|Drama|Music|Sci-Fi            0.062247
Action|Adventure|Comedy|Drama|Thriller                0.330234
Action|Adventure|Comedy|Drama|War                     1.263584
Action|Adventure|Comedy|Family                        2.184553
...                                                        ...
Fantasy|Horror                                        7.724564
Fantasy|Horror|Mystery                                0.004903
Fantasy|Horror|Mystery|Romance                        0.519424
Fantasy|Horror|Mystery|Thriller                       7.009327
Fantasy|Horror|Romance                                2.063070
Fantasy|Horror|Romance|Thriller                       2.771045
Fantasy|Horror|Sci-Fi                                 2.950000
Fantasy|Horror|Thriller                               6.082602
Fantasy|Mystery|Romance|Sci-Fi|Thriller               1.479630
Fantasy|Romance                                       2.818118
Fantasy|Thriller                                      0.354161
Horror                                              227.748305
Horror|Musical|Sci-Fi                                 0.016499
Horror|Mystery                                        5.096016
Horror|Mystery|Sci-Fi                                 3.116618
Horror|Mystery|Sci-Fi|Thriller                        4.734652
Horror|Mystery|Thriller                               6.832587
Horror|Sci-Fi                                         7.792065
Horror|Sci-Fi|Thriller                                3.408227
Horror|Thriller                                      40.240904
Musical|Romance                                      18.817819
Mystery|Romance|Thriller                              2.455376
Mystery|Sci-Fi|Thriller                               1.820862
Mystery|Thriller                                      2.516647
Romance                                               2.546990
Romance|Sci-Fi|Thriller                               1.244090
Sci-Fi                                                0.072780
Sci-Fi|Thriller                                       1.577287
Thriller                                              3.350345
Western                                               6.402978

[762 rows x 1 columns]

In [17]:
genres.nlargest(10, 'ratio')

                                                 ratio
genres
Biography|Documentary                      2715.660550
Horror                                      227.748305
Comedy|Documentary|Drama                    177.374892
Adventure|Family|Romance                     79.105200
Animation|Family|Fantasy|Musical             62.442910
Adventure|Biography|Drama|Horror|Thriller    61.001764
Action|Crime|Drama|Romance|Thriller          49.900815
Family|Sci-Fi                                41.423758
Horror|Thriller                              40.240904
Adventure|Horror|Sci-Fi                      23.809524

## 13) Nicolas Cage is known for starring in some pretty bad movies. Are his movies statistically significantly worse (i.e. in rating) than the rest of the IMDB 5000+?

In [21]:
nc = df2.query('actor_1_name == "Nicolas Cage"')
no_nc = df2.query('actor_1_name != "Nicolas Cage"')
nc.imdb_score

104     6.1
224     5.2
243     6.0
282     6.5
300     6.9
455     7.3
528     7.4
565     5.9
668     6.0
696     6.3
732     6.7
831     4.3
854     6.7
950     6.2
1032    5.5
1051    6.5
1111    5.9
1130    5.4
1170    7.6
1257    6.5
1291    5.9
1516    5.5
1562    6.8
2005    6.7
2278    6.6
2353    6.4
2386    7.7
2399    3.1
2413    6.3
3812    4.4
3894    7.6
3938    6.9
Name: imdb_score, dtype: float64

In [22]:
nc.imdb_score.mean()

6.2125

In [23]:
no_nc.imdb_score.mean()

6.44252919855014

### looks pretty close

## 14) Have any years grossed a statistically-significant higher amount than the other years?

In [27]:
grossed_years = df2.query('title_year != "NaN" and gross != "NaN"')
grossed_years[['title_year', 'gross']].groupby('title_year').mean()

                   gross
title_year
1920.0      3.000000e+06
1927.0      2.643500e+04
1929.0      1.408975e+06
1933.0      2.300000e+06
1935.0      3.000000e+06
1936.0      1.632450e+05
1937.0      1.849255e+08
1939.0      1.104289e+08
1940.0      8.035000e+07
1942.0      1.027972e+08
1946.0      2.202500e+07
1947.0      7.927000e+03
1948.0      2.956000e+06
1950.0      8.000000e+06
1952.0      3.600000e+07
1953.0      2.050000e+07
1954.0      4.934530e+06
1957.0      2.720000e+07
1959.0      2.500000e+07
1960.0      3.200000e+07
1961.0      4.365000e+07
1962.0      1.103352e+07
1963.0      4.295000e+07
1964.0      3.823791e+07
1965.0      6.931023e+07
1966.0      6.100000e+06
1967.0      4.310000e+07
1968.0      3.675769e+07
1969.0      4.171193e+07
1970.0      1.045000e+07
...                  ...
1987.0      4.023326e+07
1988.0      4.141416e+07
1989.0      4.967845e+07
1990.0      7.667771e+07
1991.0      5.384450e+07
1992.0      6.366520e+07
1993.0      4.530209e+07
1994.0      5.939567e+07
1995.0      4.490952e+07
1996.0      4.244449e+07
1997.0      4.478452e+07
1998.0      3.837701e+07
1999.0      3.807218e+07
2000.0      4.249898e+07
2001.0      4.291863e+07
2002.0      4.389373e+07
2003.0      4.872775e+07
2004.0      4.089092e+07
2005.0      4.115914e+07
2006.0      3.923512e+07
2007.0      4.647923e+07
2008.0      4.457351e+07
2009.0      4.648368e+07
2010.0      5.008646e+07
2011.0      4.578584e+07
2012.0      5.851353e+07
2013.0      5.644782e+07
2014.0      6.232052e+07
2015.0      6.726483e+07
2016.0      7.656758e+07

[76 rows x 1 columns]

## Years 1939 and 1942 seemed to be good years to make movies...